    {% load static %}
    {% include 'header.html' %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Регистрация</title>
    </head>
    <body>
    <div class="registration-container">
        <div class="registration-card">
            <h1 class="registration-title">Регистрация</h1>
            <form method="POST" enctype="multipart/form-data" class="registration-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="registration-button">Регистрация</button>
            </form>
        </div>
    </div>
    </body>
    </html>
    {% include 'footer.html' %}
