     .content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        form.decor {
            width: 80%;
            max-width: 600px;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        form.decor button {
            margin-top: 10px;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: #28a745;
            color: #fff;
            transition: background-color 0.3s ease;
        }

        form.decor button[type="reset"] {
            margin-left: 10px;
            background-color: #dc3545;
        }

        form.decor button:hover {
            background-color: #218838;
        }